<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
  var gitalk = new Gitalk({
    clientID: '{{ site.comment.gitalk.clientID }}',
    clientSecret: '{{ site.comment.gitalk.clientSecret }}',
    repo: '{{ site.comment.gitalk.repo }}',
    owner: '{{ site.comment.gitalk.owner }}',
    admin: {{ site.comment.gitalk.admin | jsonify }},
    id: '{{ page.url | relative_url | slice: 0, 50 }}',
    distractionFreeMode: {{ site.comment.gitalk.distractionFreeMode | default: false }},
    createIssueManually: {{ site.comment.gitalk.createIssueManually | default: false }}
  });
  gitalk.render('gitalk-container');
</script>
<noscript>请启用 JavaScript 以查看 <a href="https://github.com/gitalk/gitalk">Gitalk</a> 评论。</noscript>
