---
layout: default
---
{%- include header.html -%}
<main class="post__wrapper">
  {%- include header_nav.html -%}
  <article class="post">
    <header class="post__header">
      <h1 class="post__title page__title">{{ page.title | escape }}</h1>
    </header>
    <div class="post__content content">
      {{ content | img_prefix }}
    </div>
  </article>
  <div class="post__end_sep"><span class="post__end_sep_dot"></span></div>
  {%- if site.comment.enabled -%}
  {% include comments.html -%}
  {%- endif -%}
</main>
{%- include footer.html -%}
